{% extends "learning_logs/base.html" %}
{% block content%}
<p>Learning Log</p>

<p>Learning Log helps you keep track of your learning, for any topic
    you're learning about.
</p>
{% endblock content%}