{% extends "learning_logs/base.html" %}
{% block content%}
<p>Topic: {{topic}}</p>
<p>Entries: </p>
<p>
    <a href="{% url 'learning_logs:new_entry' topic.id %}">Add new entry</a>
</p>
<ul>
    {% for entry in entries %}
        <li>
            <p>{{entry.date_added|date:'M d, Y h:i'}}</p>
            <p>{{entry.text|linebreaks}}</p>
            <p>
                <a href="{% url 'learning_logs:edit_entry' entry.id %}">Edit entry</a>
            </p>
        </li>
    {% empty %}
        <li>There are no entries for this topic yet.</li>
    {% endfor %}
</ul>
{% endblock content%}